@keyframes popup-in {
    from { scale: 0.85;  }
    to {  scale:1;  }
  }
    @keyframes popup-out {
    from {  scale:1;  opacity:1; }
    to {  scale:0.85; opacity:0; }
  }

  @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes slideLeft-in {
    from { translate: -100% 0;  }
    to { translate: 0 0;  }
  }

  @keyframes slideLeft-out {
    from { translate: 0 0; opacity:1; }
    to { translate: -100% 0;  opacity:0;}
  }

  @keyframes slideRight-in {
    from { translate: 100% 0;  }
    to { translate: 0 0;  }
  }

  @keyframes slideRight-out {
    from { translate: 0 0;  opacity:1;}
    to { translate: 100% 0;  opacity:0;}
  }

  @keyframes slideUp-in {
    from { translate: 0 100%;  }
    to { translate: 0 0;  }
  }

  @keyframes slideUp-out {
    from { translate: 0 0;  opacity:1;}
    to { translate: 0 100%;  opacity:0;}
  }

  @keyframes slideDown-in {
    from { translate: 0 -100%;  }
    to { translate: 0 0;  }
  }

  @keyframes slideDown-out {
    from { translate: 0 0;  opacity:1;}
    to { translate: 0 -100%;  opacity:0;}
  }
  
  @keyframes squeezy-in {
    from { translate: 0 0; scale: 0.8 1.2;  }
    to { translate: 0 0; scale: 1 1;  }
  }

  @keyframes squeezy-out {
    from { translate: 0 0; scale: 1 1;  opacity:1;}
    to { translate: 0 0; scale: 1.2 0.8;  opacity:0;}
  }


